<!-- <app-navbar-one></app-navbar-one> -->
<div class="page-title-area item-bg-6">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Rdv Details</h2>
                    <ul>
                        <li><a routerLink="/">Acceuil</a></li>
                        <li>Rdv Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>