<!--end breadcrumb-->
<!-- <app-navbar-one></app-navbar-one> -->
<div class="page-title-area item-bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>{{User?.prenom}} {{User?.nom}}</h2>
                    <ul>
                        <li><a routerLink="/">Acceuil</a></li>
                        <li>{{User?.prenom}} {{User?.nom}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-xl-7 mx-auto">
		<h6 class="mb-0 text-uppercase">Dev-Mali</h6>
		<hr/>
		<div class="card border-top border-0 border-4 border-primary">
			<div class="card-body p-5">
				<div class="card-title d-flex align-items-center">
					<div><i class="bx bxs-user me-1 font-22 text-primary"></i>
					</div>
					<h5 class="mb-0 text-primary">Ajouter-experience</h5>
				</div>
				<hr>
				<form class="row g-3" #f="ngForm" (submit)="submitForm()" novalidate>
					<div class="col-md-6">
						<label for="inputFirstName" class="form-label">Tite</label>
						<input type="email" class="form-control" placeholder="Tite" name="titreExperience" id="titreExperience" [(ngModel)]="form.titreE">
					</div>
                    <div class="col-md-6">
						<label for="inputLieux" class="form-label">Lieux</label>
						<input type="text" class="form-control"placeholder="Lieux"  id="lieuExperience" name="lieuExperience" [(ngModel)]="form.lieu">
					</div>
					<div class="col-md-6">
						<label for="inputDate" class="form-label">Date debut</label>
						<input type="date" class="form-control" id="dateDebutExperience" name="dateDebutExperience" [(ngModel)]="form.datedebut">
					</div>
					<div class="col-md-6">
						<label for="inputDate" class="form-label">Date fin</label>
						<input type="date" class="form-control" id="dateFinExperience" name="dateFinExperience" [(ngModel)]="form.datefin">
					</div>
					
					<!-- <div class="col-md-4">
						<label for="inputState" class="form-label" name="connaissance" [(ngModel)]="selectedConnaissanceId">Connaissances</label>
						<select   class="form-select" (change)="onChange($event.target)" type="text"
									name="role" [(ngModel)]="form.connainssance" required role
									#role="ngModel">
									<option >Choisir</option>
									<option  *ngFor="let Connaissance of connaissance"
										[value]="Connaissance.id">
										{{ Connaissance.nom }}
									</option>
						</select>
					</div> -->
					<!-- <div class="col-md-2">
						<label for="inputState" class="form-label"  name="informaticien"[(ngModel)]="selectedInformaticienId">Informaticien</label>
						<select   class="form-select" (change)="onChange($event.target)" type="text"
									name="role" [(ngModel)]="form.informaticien" required role
									#role="ngModel">
									<option >Choisir</option>
									<option  *ngFor="let Informaticien of informaticien"
										[value]="Informaticien.id">
										{{ Informaticien.nom }}
									</option>
						</select>
					</div> -->
					<div class="col-12">
						<button type="submit" class="btn btn-primary px-5">Enregistre</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--end row-->
