
<div class="page-title-area item-bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Moustapha Nimaga</h2>
                    <ul>
                        <li><a routerLink="/">Acceuil</a></li>
                        <li>Profile de developpeur</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-section pt-100 pb-100">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <div class="container bootdey flex-grow-1 container-p-y">
  
              <div class="media align-items-center py-3 mb-3">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
                <div class="media-body ml-4">
                  <h4 class="font-weight-bold mb-0">John Doe <span class="text-muted font-weight-normal">@johndoe</span></h4>
                  <div class="text-muted mb-2">ID: 3425433</div>
                  <a href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
                  <a href="javascript:void(0)" class="btn btn-default btn-sm">Profile</a>&nbsp;
                  <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
                </div>
              </div>
  
              <div class="card mb-4">
                <div class="card-body">
                  <table class="table user-view-table m-0">
                    <tbody>
                      <tr>
                        <td>Registered:</td>
                        <td>01/23/2017</td>
                      </tr>
                      <tr>
                        <td>Latest activity:</td>
                        <td>01/23/2018 (14 days ago)</td>
                      </tr>
                      <tr>
                        <td>Verified:</td>
                        <td><span class="fa fa-check text-primary"></span>&nbsp; Yes</td>
                      </tr>
                      <tr>
                        <td>Role:</td>
                        <td>User</td>
                      </tr>
                      <tr>
                        <td>Status:</td>
                        <td><span class="badge badge-outline-success">Active</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr class="border-light m-0">
                <div class="table-responsive">
                  <table class="table card-table m-0">
                    <tbody>
                      <tr>
                        <th>Module Permission</th>
                        <th>Read</th>
                        <th>Write</th>
                        <th>Create</th>
                        <th>Delete</th>
                      </tr>
                      <tr>
                        <td>Users</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                      </tr>
                      <tr>
                        <td>Articles</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                      </tr>
                      <tr>
                        <td>Staff</td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
  
              <div class="card">
                <div class="row no-gutters row-bordered">
                  <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                      <div class="text-muted small line-height-1">Posts</div>
                      <div class="text-xlarge">125</div>
                    </a>
                  </div>
                  <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                      <div class="text-muted small line-height-1">Followers</div>
                      <div class="text-xlarge">534</div>
                    </a>
                  </div>
                  <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                      <div class="text-muted small line-height-1">Following</div>
                      <div class="text-xlarge">236</div>
                    </a>
                  </div>
                </div>
                <hr class="border-light m-0">
                <div class="card-body">
  
                  <table class="table user-view-table m-0">
                    <div class="row">
                      <div class="col-lg-4 col-md-5 col-sm-5">
                          <div class="card">
                              <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                              <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                            </a>
                              <div class="card-content">
                                  <h4 class="card-title">
                                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                                    </a>
                                  </h4>
                                  <p class="">
                                      Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                  </p>
                              </div>
                              <div class="card-read-more">
                                  <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                      Read More
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-5 col-sm-5">
                          <div class="card">
                              <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                              <img src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg" />
                            </a>
                              <div class="card-content">
                                  <h4 class="card-title">
                                      <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Material Design Responsive Menu
                                    </a>
                                  </h4>
                                  <p class="">
                                      Material Design is a visual programming language made by Google. Language programming...
                                  </p>
                              </div>
                              <div class="card-read-more">
                                  <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                      Read More
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-5 col-sm-5">
                          <div class="card">
                              <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                              <img src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg" />
                            </a>
                              <div class="card-content">
                                  <h4 class="card-title">
                                      <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5  Button Hover Animation Effects
                                    </a>
                                  </h4>
                                  <p class="">
                                      tutorials button hover animation, although very much a hover button is very beauti...
                                  </p>
                              </div>
                              <div class="card-read-more">
                                  <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                      Read More
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  </table>
  
                  
  
                
  
                </div>
              </div>
  
            </div>
            
            <div class="container">
              <div class="row no-gutters row-bordered">
              <div class="comments-area">
                <div class="comment-respond">
                    <div class="container mt-5">
                        <h2>Rendez-vous avec nom du developpeur</h2>
                        <form action="/votre-endpoint-backend" method="POST">
                          
                          <!-- Informations personnelles -->
                          <div class="form-group">
                            <label for="nom">Nom complet :</label>
                            <input type="text" class="form-control" id="nom" name="nom" required>
                          </div>
                          
                          <div class="form-group">
                            <label for="email">Adresse Email :</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                    
                          <div class="form-group">
                            <label for="telephone">Numéro de téléphone :</label>
                            <input type="tel" class="form-control" id="telephone" name="telephone" required>
                          </div>
                          <!-- Date et heure du rendez-vous -->
                          <div class="form-group">
                            <label for="date">Date du Rendez-vous :</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                          </div>
                    
                          <div class="form-group">
                            <label for="heure">Heure du Rendez-vous :</label>
                            <input type="time" class="form-control" id="heure" name="heure" required>
                          </div>
                    <br>
                          <!-- Bouton de soumission -->
                          <button type="submit" class="btn btn-primary">Prendre un Rendez-vous</button>
                    
                        </form>
                      </div>
                    
                      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                </div>
              </div>
              </div>
            </div>
            
</section>
