
<!-- <div class="page-title-area item-bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Moustapha Nimaga</h2>
                    <ul>
                        <li><a routerLink="/">Acceuil</a></li>
                        <li>Profile de developpeur</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-section pt-100 pb-100">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <div class="container bootdey flex-grow-1 container-p-y">
  
              <div class="media align-items-center py-3 mb-3">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
                <div class="media-body ml-4">
                  <h4 class="font-weight-bold mb-0">John Doe <span class="text-muted font-weight-normal">@johndoe</span></h4>
                  <div class="text-muted mb-2">ID: 3425433</div>
                  <a href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
                  <a href="javascript:void(0)" class="btn btn-default btn-sm">Profile</a>&nbsp;
                  <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
                </div>
              </div>
  
              <div class="card mb-4">
                <div class="card-body">
                  <table class="table user-view-table m-0">
                    <tbody>
                      <tr>
                        <td>Registered:</td>
                        <td>01/23/2017</td>
                      </tr>
                      <tr>
                        <td>Latest activity:</td>
                        <td>01/23/2018 (14 days ago)</td>
                      </tr>
                      <tr>
                        <td>Verified:</td>
                        <td><span class="fa fa-check text-primary"></span>&nbsp; Yes</td>
                      </tr>
                      <tr>
                        <td>Role:</td>
                        <td>User</td>
                      </tr>
                      <tr>
                        <td>Status:</td>
                        <td><span class="badge badge-outline-success">Active</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr class="border-light m-0">
                <div class="table-responsive">
                  <table class="table card-table m-0">
                    <tbody>
                      <tr>
                        <th>Module Permission</th>
                        <th>Read</th>
                        <th>Write</th>
                        <th>Create</th>
                        <th>Delete</th>
                      </tr>
                      <tr>
                        <td>Users</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                      </tr>
                      <tr>
                        <td>Articles</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                      </tr>
                      <tr>
                        <td>Staff</td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
  
              <div class="card">
                <div class="row no-gutters row-bordered">
                  <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                      <div class="text-muted small line-height-1">Posts</div>
                      <div class="text-xlarge">125</div>
                    </a>
                  </div>
                  <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                      <div class="text-muted small line-height-1">Followers</div>
                      <div class="text-xlarge">534</div>
                    </a>
                  </div>
                  <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                      <div class="text-muted small line-height-1">Following</div>
                      <div class="text-xlarge">236</div>
                    </a>
                  </div>
                </div>
                <hr class="border-light m-0">
                <div class="card-body">
  
                  <table class="table user-view-table m-0">
                    <div class="row">
                      <div class="col-lg-4 col-md-5 col-sm-5">
                          <div class="card">
                              <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                              <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                            </a>
                              <div class="card-content">
                                  <h4 class="card-title">
                                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                                    </a>
                                  </h4>
                                  <p class="">
                                      Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                  </p>
                              </div>
                              <div class="card-read-more">
                                  <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                      Read More
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-5 col-sm-5">
                          <div class="card">
                              <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                              <img src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg" />
                            </a>
                              <div class="card-content">
                                  <h4 class="card-title">
                                      <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Material Design Responsive Menu
                                    </a>
                                  </h4>
                                  <p class="">
                                      Material Design is a visual programming language made by Google. Language programming...
                                  </p>
                              </div>
                              <div class="card-read-more">
                                  <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                      Read More
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-5 col-sm-5">
                          <div class="card">
                              <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                              <img src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg" />
                            </a>
                              <div class="card-content">
                                  <h4 class="card-title">
                                      <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5  Button Hover Animation Effects
                                    </a>
                                  </h4>
                                  <p class="">
                                      tutorials button hover animation, although very much a hover button is very beauti...
                                  </p>
                              </div>
                              <div class="card-read-more">
                                  <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                      Read More
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  </table>
  
                  
  
                
  
                </div>
              </div>
  
            </div>
            
            <div class="container">
              <div class="row no-gutters row-bordered">
              <div class="comments-area">
                <div class="comment-respond">
                    <div class="container mt-5">
                        <h2>Rendez-vous avec nom du developpeur</h2>
                        <form action="/votre-endpoint-backend" method="POST">
                          
                         
                          <div class="form-group">
                            <label for="nom">Nom complet :</label>
                            <input type="text" class="form-control" id="nom" name="nom" required>
                          </div>
                          
                          <div class="form-group">
                            <label for="email">Adresse Email :</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                    
                          <div class="form-group">
                            <label for="telephone">Numéro de téléphone :</label>
                            <input type="tel" class="form-control" id="telephone" name="telephone" required>
                          </div>
                          
                          <div class="form-group">
                            <label for="date">Date du Rendez-vous :</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                          </div>
                    
                          <div class="form-group">
                            <label for="heure">Heure du Rendez-vous :</label>
                            <input type="time" class="form-control" id="heure" name="heure" required>
                          </div>
                    <br>
                          
                          <button type="submit" class="btn btn-primary">Prendre un Rendez-vous</button>
                    
                        </form>
                      </div>
                    
                      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                </div>
              </div>
              </div>
            </div>
            
</section> -->
<!-- <app-navbar-one></app-navbar-one> -->
<div class="page-title-area item-bg-3">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="page-title-content">
                  <h2>Profile</h2>
                  <ul>
                      <li><a routerLink="/">Acceuil</a></li>
                      <li>User Profile </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="protfolio-section ptb-100">
  <div class="container">
    <div class="row">
            <div class="col-lg-4">
               <div class="profile-card-4 z-depth-3">
                <div class="card">
                  <div class="card-body text-center bg-primary rounded-top">
                   <div class="user-box">
                    <img src="/assets/img/team/amadou.jpg" alt="user avatar">
                  </div>
                  <h5 class="mb-1 text-white"> </h5>
                  <h6 class="text-light">UI/UX Engineer</h6>
                 </div>
                  <div class="card-body">
                    <ul class="list-group shadow-none">
                    <li class="list-group-item">
                      <div class="list-icon">
                        <i class="fa fa-phone-square"></i>
                      </div>
                      <div class="list-details">
                        <span>+223 91613489</span>
                        <small>Numero</small>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-icon">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <div class="list-details">
                        <span>info@example.com</span>
                        <small>Addresse Mail </small>
                      </div>
                    </li>
                    <!-- <li class="list-group-item">
                      <div class="list-icon">
                        <i class="fa fa-globe"></i>
                      </div>
                      <div class="list-details">
                        <span>www.example.com</span>
                        <small>Website Address</small>
                      </div>
                    </li> -->
                    </ul>
                    <div class="row text-center mt-4">
                      <div class="col p-2">
                       <h4 class="mb-1 line-height-5">154</h4>
                        <small class="mb-0 font-weight-bold">Projects</small>
                       </div>
                        <div class="col p-2">
                          <h4 class="mb-1 line-height-5">2.2k</h4>
                         <small class="mb-0 font-weight-bold">Expérience Professionnelle</small>
                        </div>
                        <!-- <div class="col p-2">
                         <h4 class="mb-1 line-height-5">9.1k</h4>
                         <small class="mb-0 font-weight-bold">Views</small>
                        </div> -->
                     </div>
                   </div>
                   <!-- <div class="card-footer text-center">
                     <a href="javascript:void()" class="btn-social btn-facebook waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
                     <a href="javascript:void()" class="btn-social btn-google-plus waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
                     <a href="javascript:void()" class="list-inline-item btn-social btn-behance waves-effect waves-light"><i class="fa fa-behance"></i></a>
                     <a href="javascript:void()" class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a>
                   </div> -->
                 </div>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="card z-depth-3">
                <div class="card-body">
                <ul class="nav nav-pills nav-pills-primary nav-justified">
                    <li class="nav-item">
                        <a href="#Profile" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#Messages" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Rendez-vous</span></a>
                    </li>
                    <li class="nav-item">
                      <a href="#Rendez-vous" data-target="#rendez-vous" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Projet</span></a>
                  </li>
                    <li class="nav-item">
                        <a href="#Edit" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active show" id="profile">
                        <h5 class="mb-3">User Profile</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>About</h6>
                                <p>
                                    Web Designer, UI/UX Engineer
                                </p>
                                <h6>Hobbies</h6>
                                <p>
                                    Indie music, skiing and hiking. I love the great outdoors.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h6>Recent badges</h6>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">html5</a>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">react</a>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">codeply</a>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">angularjs</a>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">css3</a>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">jquery</a>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">bootstrap</a>
                                <a href="javascript:void();" class="badge badge-dark badge-pill">responsive-design</a>
                                <hr>
                                <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                                <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Forks</span>
                                <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                            </div>
                            <div class="col-md-12">
                                <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                                <table class="table table-hover table-striped">
                                    <tbody>                                    
                                        <tr>
                                            <td>
                                                <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="messages">
                        <div class="alert alert-info alert-dismissible" role="alert">
                 <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="alert-icon">
               <i class="icon-info"></i>
                </div>
                <div class="alert-message">
                  <span><strong>Les </strong>Rendez-vous</span>
                </div>
                      </div>
                        <table class="table table-hover table-striped">
                            <tbody>                                    
                                <tr>
                                    <td>
                                       <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus. 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros. 
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>
                    <div class="tab-pane" id="edit">
                        <form>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Mot de paase actuel</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="12345678">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Nouveau mot de passe</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="Sniffer@123">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Annuler">
                                    <input type="button" class="btn btn-primary" value="Enregistre">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
          </div>

        </div>
    </div>      
  </section>


  

