<!-- <app-navbar-one></app-navbar-one> -->

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Contactez-Nous</h2>
                    <ul>
                        <li><a routerLink="/">Acceuil</a></li>
                        <li>Contactez-Nous</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-box pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-contact-box">
                    <i class="flaticon-pin"></i>
                    <div class="content-title">
                        <h3>Address</h3>
                        <p>Mali-Bamako-ACI 2000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-contact-box">
                    <i class="flaticon-envelope"></i>
                    <div class="content-title">
                        <h3>Email</h3>
                        <a href="mailto:doumaiga3@gmail.com">doumaiga3@gmail.com</a>
                        <a href="mailto:91613489.diadie@gmail.com">91613489.diadie@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-contact-box">
                    <i class="flaticon-phone-call"></i>
                    <div class="content-title">
                        <h3>Phone</h3>
                        <a href="tel:+223 91613489">+223 91 61 34 89</a>
                        <a href="tel:+223 67859872">+223 67 89 98 72</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="contact-image">
                    <img src="assets/img/contact.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-text">
                    <h3>Vous Avez Des Questions À Notre Sujet ?</h3>
               </div>
                <div class="contact-form">
                    <form id="contactForm">
                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label>Mail</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                        </div>
                        <!-- <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="Your Subject">
                        </div> -->
                        <div class="form-group">
                            <label>Message</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Votre Message"></textarea>
                        </div>
                        <div class="send-btn">
                            <button type="submit"  class="default-btn">Envoyer votre message</button>
                        </div>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
</section>