<!-- <app-navbar-one></app-navbar-one> -->
<div class="page-title-area item-bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>{{User?.prenom}} {{User?.nom}}</h2>
                    <ul>
                        <li><a routerLink="/">Acceuil</a></li>
                        <li>{{User?.prenom}} {{User?.nom}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="protfolio-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 max-auto">
                <div class="card z-depth-3">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-pills-primary nav-justified">

                            <li class="nav-item" role="presentation">
                                <a class="nav-link px-4 active" data-bs-toggle="tab" href="#Projet" role="tab"
                                    aria-selected="false" tabindex="1">
                                    <span class="d-block d-sm-none"><i class="fas fa-home">Ajouter-projet</i></span>
                                    <span class="d-none d-sm-block">Projet</span>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link px-4 " data-bs-toggle="tab" href="#Experiences" role="tab"
                                    aria-selected="false" tabindex="-1">
                                    <span class="d-block d-sm-none"><i class="fas fa-home">Experiences</i></span>
                                    <span class="d-none d-sm-block">Experiences</span>
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link px-4" data-bs-toggle="tab" href="#Edit" role="tab"
                                    aria-selected="false" tabindex="-1">
                                    <i class="icon-note"></i> <span class="hidden-xs">Ajouter-connaissance</span></a>
                            </li>
                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane active show" id="Projet" role="tabpanel">
                                <div class="tab-pane active show">
                                    <div class="row" id="all-projects">
                                        <link rel="stylesheet"
                                            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
                                            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
                                            crossorigin="anonymous" referrerpolicy="no-referrer" />
                                        <div class="container">
                                            <div class="row position-relative mt-n1-9">
                                                
                                                <!-- <form #forms="ngForm" (ngSubmit)="submitForm1(forms)"> -->
                                                <form class="row g-3" #f="ngForm">
                                                    <div class="col-md-6">
                                                        <label for="inputFirstName" class="form-label">Titre</label>
                                                        <input type="text" class="form-control" placeholder="titre"  id="titre" name="titre"  [(ngModel)]="formData.titre">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="inputDate" class="form-label">Description</label>
                                                        <textarea class="form-control" id="description" name="description" [(ngModel)]="formData.description" maxlength="500"></textarea>
                                                        <!-- <input type="text" class="form-control" id="description" name="datedebut" [(ngModel)]="form1.description"> -->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="inputState" class="form-label"  >type projet</label>
                                                        <select   class="form-select"  type="text"
                                                        id="id_typeprojet"name="id_typeprojet" [(ngModel)]="formData.typeProjet" >
                                                                    <option >Choisir</option>
                                                                    <option  *ngFor="let typeprojet of typeprojet"
                                                                    [value]="typeprojet.id">
                                                                        {{typeprojet.typeprojet }}
                                                                    </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="inputLieux" class="form-label">Photo-projet</label>
                                                        <input type="file" class="form-control"placeholder="photo" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple id="photo" name="photo" id="photo" (change)="onFileSelected($event)">
                                                        <!-- <div class="card radius-15">
                                                            <div class="card-body">
                                                                <div class="card-title">
                                                                    <h4 class="mb-0">Image Uploadify</h4>
                                                                </div>
                                                                <hr/>
                                                                <form>
                                                                    <input id="image-uploadify" type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
                                                                </form>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary px-5" (click)="onSubmit()">Enregistre</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div><!-- end row -->
                                </div>
                            </div>
                            <div class="tab-pane" id="Experiences" role="tabpanel">
                                <div class="container">
                                    <div class="row" id="all-experiences">
                                        <link rel="stylesheet"
                                            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
                                            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
                                            crossorigin="anonymous" referrerpolicy="no-referrer" />
                                            <div class="card border-top border-0 border-4 border-primary">
                                                <div class="card-body p-5">
                                                    <div class="card-title d-flex align-items-center">
                                                        <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                                        </div>
                                                        <h5 class="mb-0 text-primary">Ajouter-experience</h5>
                                                    </div>
                                                    <hr>
                                                    <form class="row g-3" #f="ngForm"  novalidate>
                                                        <div class="col-md-6">
                                                            <label for="inputFirstName" class="form-label">Titre</label>
                                                            <input type="text" class="form-control"placeholder="titre"  id="titre" name="titre" [(ngModel)]="form.titre">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="inputDate" class="form-label">Date debut</label>
                                                            <input type="date" class="form-control" id="datedebut" name="datedebut" [(ngModel)]="form.datedebut">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="inputDate" class="form-label">Date fin</label>
                                                            <input type="date" class="form-control" id="dateFinExperience" name="datefin" [(ngModel)]="form.datefin">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="inputLieux" class="form-label">Lieux</label>
                                                            <input type="text" class="form-control"placeholder="Lieux"  id="lieux" name="lieux" [(ngModel)]="form.lieux">
                                                        </div>
                                                        <!-- <div class="col-md-4">
                                                            <label for="inputState" class="form-label" name="connaissance" [(ngModel)]="selectedConnaissanceId">Connaissances</label>
                                                            <select   class="form-select" (change)="onChange($event.target)" type="text"
                                                                        name="role" [(ngModel)]="form.connainssance" required role
                                                                        #role="ngModel">
                                                                        <option >Choisir</option>
                                                                        <option  *ngFor="let Connaissance of connaissance"
                                                                            [value]="Connaissance.id">
                                                                            {{ Connaissance.nom }}
                                                                        </option>
                                                            </select>
                                                        </div> -->
                                                        <div class="col-12">
                                                            <button type="submit" class="btn btn-primary px-5" (click)="submitForm()">Enregistre</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        <!-- end col -->
                                    </div><!-- end row -->
                                </div>
                            </div>
                            <div class="tab-pane" id="Edit" role="tabpanel">
                                <form class="row g-3" #f="ngForm"  novalidate>
                                    <div class="col-md-6">
                                        <label for="inputFirstName" class="form-label">Titre</label>
                                        <input type="text" class="form-control"placeholder="nom"  id="titre" name="nom" [(ngModel)]="form2.nom">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputState" class="form-label"  >Type-connaissance</label>
                                        <select   class="form-select"  type="text"
                                        id="id_typeConnaissances"name="id_typeConnaissances" [(ngModel)]="form.typeConnaissances" >
                                                    <option >Choisir</option>
                                                    <option  *ngFor="let TypeConnaissances of typeConnaissances"
                                                    [value]="typeConnaissances.id">
                                                        {{typeConnaissances.typeConnaissances }}
                                                    </option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-5" (click)="submitForm2()">Enregistre</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>