<section class="coming-soon-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="coming-soon-content">
                    <h1>Notre Site Web Arrive Bientôt</h1>
                    <p>Notre site Web est actuellement en maintenance programmée. Nous devrions revenir sous peu. Merci pour votre patience.</p>
                    <form>
                        <input type="email" name="email" id="email" class="email-input" placeholder="Entre votre mail">
                        <button type="submit" class="submit-btn">Envoyer</button>
                    </form>
                    <div id="timer">
                        <div id="days"></div>
                        <div id="hours"></div>
                        <div id="minutes"></div>
                        <div id="seconds"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>