<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/profile.css' rel='stylesheet'>

<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/img/logo.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/"
                            class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Acceuil</a></li>

                    <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                            routerLink="/apropos" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Apropos</a></li>

                    <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                            routerLink="/informaticien" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Informaticien</a></li>

                    <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                            routerLink="/contact" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Contact</a></li>

                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                </ul>
                <!-- <div class="others-option d-flex align-items-center" *ngIf="isLoginFailed == false">
                    <div class="option-item">
                        <a routerLink="/connexion"  class="btn btn-oval btn-default">Connexion</a>
                    </div>
                    <div class="option-item">
                        <a routerLink="/inscription" class="default-btn">Inscription</a>
                    </div>
                </div> -->
                <a *ngIf="isLoginFailed == false" routerLink="/connexion" class="nav-link" class="gg-profile" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Inscription</a>
                <ul class="navbar-nav" *ngIf="isLoginFailed == true">
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img [src]="profileImageUrl" (error)="handleAuthorImageError($event)" alt="">
                            <span style="color: black;">{{User?.prenom}} {{User?.nom}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/profil-client" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    Profil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a (click)="logout()" class="nav-link crd" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    Deconnexion
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>