
.navbar a {
  
  margin-left: 1cm;
  text-decoration: none;
  font-size: 30px;
}

.profile-userlink img {
  margin-right: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}


.crd:hover {
  cursor: pointer;
}

.crd {
  cursor: pointer;
}

.btn {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.2px;
  opacity: 0.93;
  font-size: 10px;
}
.btn:hover {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}








body{margin-top:20px;}

.btn-inverse {
    color: #fff;
    background-color: #131e26;
    border-color: #131e26
}

.btn-inverse.active,
.btn-inverse.active.focus,
.btn-inverse.active:focus,
.btn-inverse.active:hover,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:active.focus,
.btn-inverse:active:focus,
.btn-inverse:active:hover,
.btn-inverse:focus,
.btn-inverse:hover,
.open>.dropdown-toggle.btn-inverse,
.open>.dropdown-toggle.btn-inverse.focus,
.open>.dropdown-toggle.btn-inverse:focus,
.open>.dropdown-toggle.btn-inverse:hover {
    color: #fff;
    background-color: #0c1318;
    border-color: #05090b
}

.btn-inverse.active,
.btn-inverse:active,
.open>.dropdown-toggle.btn-inverse {
    background-image: none
}

.btn-inverse.disabled.focus,
.btn-inverse.disabled:focus,
.btn-inverse.disabled:hover,
.btn-inverse[disabled].focus,
.btn-inverse[disabled]:focus,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse.focus,
fieldset[disabled] .btn-inverse:focus,
fieldset[disabled] .btn-inverse:hover {
    background-color: #131e26;
    border-color: #131e26
}

.btn-inverse .badge {
    color: #131e26;
    background-color: #fff
}

.btn-green {
    color: #fff;
    background-color: #37bc9b;
    border-color: transparent
}

.btn-green.active,
.btn-green.active.focus,
.btn-green.active:focus,
.btn-green.active:hover,
.btn-green.focus,
.btn-green:active,
.btn-green:active.focus,
.btn-green:active:focus,
.btn-green:active:hover,
.btn-green:focus,
.btn-green:hover,
.open>.dropdown-toggle.btn-green,
.open>.dropdown-toggle.btn-green.focus,
.open>.dropdown-toggle.btn-green:focus,
.open>.dropdown-toggle.btn-green:hover {
    color: #fff;
    background-color: #32ac8e;
    border-color: transparent
}

.btn-green.active,
.btn-green:active,
.open>.dropdown-toggle.btn-green {
    background-image: none
}

.btn-green.disabled.focus,
.btn-green.disabled:focus,
.btn-green.disabled:hover,
.btn-green[disabled].focus,
.btn-green[disabled]:focus,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green.focus,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:hover {
    background-color: #37bc9b;
    border-color: transparent
}

.btn-green .badge {
    color: #37bc9b;
    background-color: #fff
}

.btn-purple {
    color: #fff;
    background-color: #7266ba;
    border-color: transparent
}

.btn-purple.active,
.btn-purple.active.focus,
.btn-purple.active:focus,
.btn-purple.active:hover,
.btn-purple.focus,
.btn-purple:active,
.btn-purple:active.focus,
.btn-purple:active:focus,
.btn-purple:active:hover,
.btn-purple:focus,
.btn-purple:hover,
.open>.dropdown-toggle.btn-purple,
.open>.dropdown-toggle.btn-purple.focus,
.open>.dropdown-toggle.btn-purple:focus,
.open>.dropdown-toggle.btn-purple:hover {
    color: #fff;
    background-color: #6558b4;
    border-color: transparent
}

.btn-purple.active,
.btn-purple:active,
.open>.dropdown-toggle.btn-purple {
    background-image: none
}

.btn-purple.disabled.focus,
.btn-purple.disabled:focus,
.btn-purple.disabled:hover,
.btn-purple[disabled].focus,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple.focus,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:hover {
    background-color: #7266ba;
    border-color: transparent
}

.btn-purple .badge {
    color: #7266ba;
    background-color: #fff
}

.btn-pink {
    color: #fff;
    background-color: #f532e5;
    border-color: transparent
}

.btn-pink.active,
.btn-pink.active.focus,
.btn-pink.active:focus,
.btn-pink.active:hover,
.btn-pink.focus,
.btn-pink:active,
.btn-pink:active.focus,
.btn-pink:active:focus,
.btn-pink:active:hover,
.btn-pink:focus,
.btn-pink:hover,
.open>.dropdown-toggle.btn-pink,
.open>.dropdown-toggle.btn-pink.focus,
.open>.dropdown-toggle.btn-pink:focus,
.open>.dropdown-toggle.btn-pink:hover {
    color: #fff;
    background-color: #f41fe3;
    border-color: transparent
}

.btn-pink.active,
.btn-pink:active,
.open>.dropdown-toggle.btn-pink {
    background-image: none
}

.btn-pink.disabled.focus,
.btn-pink.disabled:focus,
.btn-pink.disabled:hover,
.btn-pink[disabled].focus,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink.focus,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:hover {
    background-color: #f532e5;
    border-color: transparent
}

.btn-pink .badge {
    color: #f532e5;
    background-color: #fff
}

.btn-outline {
    background-color: transparent;
    border-color: #fff
}

.btn-outline:focus,
.btn-outline:hover {
    background-color: #fff;
    color: #5d9cec
}

.btn-flat {
    border-bottom-width: 1px;
    border-radius: 0;
    box-shadow: 0 0 0 #000
}

.btn-xl {
    padding: 20px 16px;
    font-size: 18px
}

.btn-square {
    border-radius: 0
}

.btn-oval,
.btn-pill-left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 18px
}

.btn-oval,
.btn-pill-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 18px
    font
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0
}

.btn-label {
    position: relative;
    background: transparent;
    background: rgba(0, 0, 0, .05);
    display: inline-block;
    padding: 6px 16px;
    left: -16px;
    border-radius: 3px 0 0 3px
}

.btn-label.btn-label-right {
    left: auto;
    right: -16px;
    border-radius: 0 3px 3px 0
}

.btn-lg .btn-label {
    padding: 10px 20px;
    left: -20px;
    border-radius: 5px 0 0 5px
}

.btn-lg .btn-label.btn-label-right {
    left: auto;
    right: -20px;
    border-radius: 0 5px 5px 0
}

.btn-sm .btn-label {
    padding: 5px 10px;
    left: -10px;
    border-radius: 2px 0 0 2px
}

.btn-sm .btn-label.btn-label-right {
    left: auto;
    right: -10px;
    border-radius: 0 2px 2px 0
}

.btn-xs .btn-label {
    padding: 1px 5px;
    left: -5px;
    border-radius: 2px 0 0 2px
}

.btn-xs .btn-label.btn-label-right {
    left: auto;
    right: -5px;
    border-radius: 0 2px 2px 0
}

.btn-fw {
    min-width: 80px
}

.btn-fw.btn-sm {
    min-width: 40px
}

.btn-fw.btn-md {
    min-width: 60px
}

.btn-fw.btn-lg {
    min-width: 140px
}

.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    border-radius: 500px;
    padding: 0;
    border: 0
}

.btn-circle>* {
    line-height: inherit!important
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px
}
