<div class="page-title-area item-bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Developpeur</h2>
                    <ul>
                        <li><a routerLink="/">Acceuil</a></li>
                        <li>Developpeur</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/profiles-details"><img src="assets/img/blog/dev.png" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>20 March 2020</span>
                                <h3><a routerLink="/profiles-details">Great Tips To Earn More Money From Digital Industry</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/profiles-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/profiles-details"><img src="assets/img/blog/dev1.png" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>25 April 2020</span>
                                <h3><a routerLink="/profiles-details">The Billionaire Guide On Design That will Get You Rich</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/profiles-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/profiles-details"><img src="assets/img/blog/dev3.png" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>30 July 2020</span>
                                <h3><a routerLink="/profiles-details">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/profiles-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/profiles-details"><img src="assets/img/blog/dev4.png" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>20 March 2020</span>
                                <h3><a routerLink="/profiles-details">Startup Marketing Solution For Business Owner</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/profiles-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/profiles-details"><img src="assets/img/blog/dev5.png" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>25 April 2020</span>
                                <h3><a routerLink="/profiles-details">Web Developement Best Work In Future World</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/profiles-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/profiles-details"><img src="assets/img/blog/dev.png" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>30 July 2020</span>
                                <h3><a routerLink="/profiles-details">Instagram Feed Add To Your WordPress Site</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/profiles-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a routerLink="/blog-grid" class="prev page-numbers"><i class="flaticon-left"></i></a>
                            <a routerLink="#" class="page-numbers">1</a>
                            <span class="page-numbers current" aria-current="page">2</span>
                            <a routerLink="/blog-grid" class="page-numbers">3</a>
                            <a routerLink="/blog-grid" class="page-numbers">4</a>
                            <a routerLink="/blog-grid" class="next page-numbers"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">
                    <section class="widget widget_search">
                        <form class="search-form search-top">
                            <label>
                                <input type="search" class="search-field" placeholder="Search...">
                            </label>
                            <button type="submit"><i class="flaticon-search"></i></button>
                        </form>
                    </section>
                    <!-- <section class="widget widget_fria_posts_thumb">
                        <h3 class="widget-title">Nos développeurs récents </h3>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb"><span class="fullimage cover bg1" role="img"></span></a>
                            <div class="info">
                                <time class="2020-06-30">June 10, 2020</time>
                                <h4 class="title usmall"><a routerLink="/blog-detailsndex.html">Making Peace With The Feast Or Famine Of Freelancing</a></h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb"><span class="fullimage cover bg2" role="img"></span></a>
                            <div class="info">
                                <time class="2020-06-30">June 21, 2020</time>
                                <h4 class="title usmall"><a routerLink="/blog-detailsndex.html">Be healthy, Enjoy life with Trifles organic</a></h4>
                            </div>
                        </article>

                        <article class="item">
                            <a routerLink="/blog-details" class="thumb"><span class="fullimage cover bg3" role="img"></span></a>
                            <div class="info">
                                <time class="2020-06-30">June 30, 2020</time>
                                <h4 class="title usmall"><a routerLink="/blog-detailsndex.html">Buy organic food online and be healthy</a></h4>
                            </div>
                        </article>
                    </section> -->
                    <section class="widget widget_categories">
                        <h3 class="widget-title">Les langages de programmations</h3>
                        <ul>
                            <li><a routerLink="/blog-grid">PHP</a></li>
                            <li><a routerLink="/blog-grid">PYTHON</a></li>
                            <li><a routerLink="/blog-grid">JAVA</a></li>
                            <li><a routerLink="/blog-grid">HTML</a></li>
                            <li><a routerLink="/blog-grid">CSS</a></li>
                        </ul>
                    </section>
                    <section class="widget widget_tag_cloud">
                        <h3 class="widget-title">LES TYPES D'INFORMATICIEN</h3>
                        <div class="tagcloud section-bottom">
                            <a routerLink="/blog-grid">Administrateur de base de données<span class="tag-link-count"> (3)</span></a>
                            <a routerLink="/blog-grid">DéveloppeurS informatique<span class="tag-link-count"> (3)</span></a>
                            <a routerLink="/blog-grid">Architecte réseau <span class="tag-link-count"> (2)</span></a>
                            <a routerLink="/blog-grid">Testeur/Testeuse <span class="tag-link-count"> (2)</span></a>
                            <a routerLink="/blog-grid">Expert/Experte en sécurité informatique <span class="tag-link-count"> (1)</span></a>
                            <a routerLink="/blog-grid">Gestionnaire de parc micro-informatique <span class="tag-link-count"> (1)</span></a>
                            <a routerLink="/blog-grid">Ingénieur/Ingénieure télécoms et réseaux <span class="tag-link-count"> (1)</span></a>
                            <a routerLink="/blog-grid">Technicien/Technicienne télécoms et réseaux <span class="tag-link-count"> (2)</span></a>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>