.oblig{
  color: red;
}
.user-all-form {
  padding: 40px;
  max-width: 750px;
  border-radius: 15px;
  background-color: var(--whiteColor);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
  margin: {
      left: auto;
      right: auto;
  };
  .form-group {
      margin-bottom: 20px;

      label {
          margin-bottom: 12px;
          font-weight: 600;
      }
      .form-control {
          width: 100%;
          height: 50px;
          border: none;
          box-shadow: none;
          padding: 15px 20px;
          border-radius: 5px;
          color: var(--bodyColor);
          background-color: #F8F8F8;
      }
      textarea.form-control {
          height: auto;
      }
  }
  .sub-title {
      text-align: center;
      position: relative;
      color: #888888;
      font-weight: 500;
      display: block;
      z-index: 1;
      margin: {
          top: 30px;
          bottom: 30px;
      };
      span {
          background-color: var(--whiteColor);
          padding: {
              left: 15px;
              right: 15px;
          };
      }
      &::before {
          right: 0;
          top: 10px;
          height: 1px;
          width: 100%;
          z-index: -1;
          content: '';
          position: absolute;
          background: #f0f0f0;
      }
  }
  .login-with-account {
      ul {
          list-style-type: none;
          margin-bottom: 20px;
          padding-left: 0;

          li {
              display: block;
              margin-bottom: 15px;
              
              a {
                  transform: var(--transition);
                  border: 1px solid #C4C4C4;
                  color: var(--bodyFonts);
                  position: relative;
                  text-align: center;
                  border-radius: 5px;
                  padding: 10px 30px;
                  font-size: 17px;
                  display: block;
                  width: 100%;

                  i {
                      transform: translateY(-50%);
                      margin-left: -30px;
                      position: absolute;
                      top: 50%;

                      &.ri-facebook-line {
                          color: #2042e3;
                      }
                      &.ri-google-line {
                          color: #ff5b4a;
                      }
                  }
                  &:hover {
                      border-color: var(--pinkColor);
                  }
              }
              &:last-child {
                  margin-bottom: 0;
              }
          }
      }
  }
}
.oblig{
  color: red;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

  .user-all-form {
      padding: 25px 20px;
      max-width: 100%;
      
      .form-group {
          margin-bottom: 20px;
  
          label {
              margin-bottom: 12px;
          }
          .form-control {
              padding-left: 15px;
          }
      }
      .sub-title {
          margin: {
              top: 25px;
              bottom: 25px;
          };
      }
      .login-with-account {
          ul {
              li {
                  a {
                      font-size: 15px;
                  }
              }
          }
      }
  }
  .monimage{
      display: none;
  }


}

/* Min width 576px to Max width 767px */
// @media only screen and (min-width: 768px) {
//     .monimage{
//         display: none;
//     }

// }

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .user-all-form {
      padding: 35px;
      max-width: 600px;
      
      .login-with-account {
          ul {
              li {
                  a {
                      font-size: 16px;
                  }
              }
          }
      }
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .user-all-form {
      max-width: 690px;
  }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}

// body {
//     color: #000;
//     overflow-x: hidden;
//     height: 100%;
//     background-color: #B0BEC5;
//     background-repeat: no-repeat;
// }

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 8px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #EEEEEE;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867B2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

.mb-24{
  margin-bottom: 15px;
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input, textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0;
  border-radius: 12px;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1A237E;
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px;
  }

  .image {
      width: 300px;
      height: 220px;
  }

  .border-line {
      border-right: none;
  }

  .card2 {
      border-top: 1px solid #eeeeee00 !important;
      margin: 0px 15px;
  }
}





/* CSS */
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.bg-maiga{
  background-image: url('/assets/img/apr.jpg');
  background-size: cover; /* Pour couvrir toute la zone */
  background-position: center; /* Pour centrer l'image */
}



.btn-15 {
  background: rgb(255, 17, 0);
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  background-color: #fffff8;
  background-image: linear-gradient(315deg, #d42a2446 0%, #ee4f5539 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
  //  7px 7px 20px 0px rgba(0,0,0,.1),
  //  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #000;
}
.btn-15:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-15:active {
  top: 2px;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  justify-content: center;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

/* CSS */
.button-18 {
  align-items: center;
  appearance: none;
  background-color: #2315ea;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-18:hover {
  background: #F6F9FE;
  color: #174ea600;
}

.button-18:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-18:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-18:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-18:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-18:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-18:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-18:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}




.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 550px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: rgb(235, 19, 19);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(236, 29, 29);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(232, 32, 32);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: auto;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  width: 100px; ;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}








